<html>
    <form method="POST">
        <label>Data Analyst Score:</label><br>
        <input type="number" name="data_analyst_score" required><br><br>
    
        <label>Data Scientist Score:</label><br>
        <input type="number" name="data_scientist_score" required><br><br>
    
        <label>Data Engineer Score:</label><br>
        <input type="number" name="data_engineer_score" required><br><br>
    
        <input type="submit" value="Submit">
    </form>
    <p>
        If you click on the submit button, it will take you to the success page.
    </p>
    
</html>